{% extends "burgerkingapp/core.html" %}

{% block title %}
  Checkout
{% endblock %}

{% block content %}
<div class="card">
  <h1>Place Order</h1>

  <div class="order-info">
    <h3>Your order</h3>
    <ul>
      {% for item in cart %}
        <li>
          {{ item.quantity }}x {{ item.product.name }}
          <span>${{ item.total_price }}</span>
        </li>
      {% endfor %}
    </ul>
    <p>Total: ${{ cart.get_total_price }}</p>
  </div>
<!--
<div>
  <form method="post" class="order-form">
    {{ form.as_p }}
    <p><input type="submit" value="Place order"></p>
    {% csrf_token %}
  </form>
</div>
-->
<form method = 'POST' enctype="multipart/form-data">

    {% csrf_token %}
  <table class = 'w-50 table table-light' style="border-radius:20px;background-color:#E3E4FA;">
    {% for field in form %}
    <tr>
        <th>{{field.label}}</th>
        <td>{{ field }}</td>
    </tr>
    {% endfor %}
  </table>
  <button type="submit" class="btn btn-lg btn-warning">Submit</button>
                            
</form>
</div>
{% endblock %}